
<div class="container">
  <h1>
    Hello World
    <i class="fas fa-globe-africa"></i>
  </h1>
  <%= link_to 'Check the Privacy Policy', privacy_policy_path, class: "btn btn-lg btn-warning" %>
</div>
